In [1]:
import warnings
warnings.filterwarnings('ignore')
from project import Project
from MySqlInfo import *

In [3]:
p = Project()

In [4]:
sqlinfo = MySqlInfo('oscar','root',pw,'localhost','start_time','volume',table = 'residential_con')

In [5]:
p.UpdateSource(sqlinfo)

In [6]:
p.Import()

In [7]:
p.CullingData(4)

In [8]:
p.dataset.data_to_use[:10]

        Keys                                         ListOfData  length Curve
0 2007-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20616  None
1 2007-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20677  None
2 2007-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20606  None
3 2007-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21344  None
4 2007-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21817  None
5 2007-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21492  None
6 2008-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22470  None
7 2008-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22509  None
8 2008-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21851  None
9 2008-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22847  None

In [9]:
p.DataRestore()

In [10]:
p.dataset.data_to_use[:10]

        Keys                                         ListOfData  length Curve
0 2007-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
1 2007-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
2 2007-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
3 2007-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
4 2007-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
5 2007-11-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
6 2008-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
7 2008-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
8 2008-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
9 2008-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None