In [3]:
from project import Project
from MySqlInfo import *

In [4]:
p = Project()

In [6]:
sqlinfo = MySqlInfo('oscar','root',pw,'localhost','start_time','volume',table = 'residential_con')

In [7]:
p.UpdateSource(sqlinfo)

In [8]:
p.Import()

Imported Results
         Keys                                         ListOfData  length Curve
0  2007-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
1  2007-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
2  2007-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
3  2007-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
4  2007-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
5  2007-11-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
6  2008-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
7  2008-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
8  2008-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
9  2008-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
10 2008-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
11 2008-11-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
12 2009-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
13 2009-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
14 2009-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
15 2009-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
16 2009-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
17 2009-11-01  [-64.0, -38.0, -21.0, -13.0, 0.0, 0.0, 0.0, 0....   27223  None
18 2010-01-01  [-55.0, -21.0, -15.0, -11.0, -10.0, -1.0, 0.0,...   27457  None
19 2010-03-01  [-134.0, -86.0, -82.0, -80.0, -74.0, -54.0, -5...   27457  None
20 2010-05-01  [-97.0, -72.0, -68.0, -57.0, -40.0, -40.0, -36...   27457  None
21 2010-07-01  [-341.0, -135.0, -130.0, -81.0, -75.0, -66.0, ...   27457  None
22 2010-09-01  [-720.0, -213.0, -63.0, -56.0, -49.0, -47.0, -...   27457  None
23 2010-11-01  [-92.0, -87.0, -79.0, -66.0, -49.0, -45.0, -42...   27457  None
24 2011-01-01  [-124.0, -116.0, -86.0, -83.0, -77.0, -75.0, -...   27538  None
25 2011-03-01  [-467.0, -338.0, -218.0, -168.0, -163.0, -161....   27538  None
26 2011-05-01  [-881.0, -134.0, -102.0, -69.0, -62.0, -54.0, ...   27538  None
27 2011-07-01  [-113.0, -50.0, -38.0, -33.0, -23.0, -23.0, -2...   27538  None
28 2011-09-01  [-2912.0, -304.0, -196.0, -188.0, -69.0, -65.0...   27538  None
29 2011-11-01  [-79.0, -50.0, -38.0, -21.0, -12.0, -10.0, -5....   27538  None
30 2012-01-01  [-119.0, -105.0, -100.0, -90.0, -87.0, -85.0, ...   27622  None
31 2012-03-01  [-93.0, -75.0, -70.0, -30.0, -11.0, -10.0, -9....   27622  None
32 2012-05-01  [-90.0, -42.0, -36.0, -27.0, -25.0, -17.0, -10...   27622  None
33 2012-07-01  [-115.0, -51.0, -46.0, -45.0, -28.0, -17.0, -1...   27622  None
34 2012-09-01  [-75.0, -75.0, -69.0, -29.0, -21.0, -20.0, -19...   27622  None
35 2012-11-01  [-546.0, -51.0, -43.0, -21.0, -14.0, -13.0, -1...   27622  None
36 2013-01-01  [-91.0, -72.0, -23.0, -21.0, -18.0, -15.0, -14...   27744  None
37 2013-03-01  [-91.0, -56.0, -49.0, -38.0, -34.0, -30.0, -25...   27744  None
38 2013-05-01  [-200.0, -113.0, -85.0, -59.0, -40.0, -40.0, -...   27744  None
39 2013-07-01  [-4363.0, -148.0, -124.0, -110.0, -71.0, -39.0...   27744  None
40 2013-09-01  [-241.0, -66.0, -39.0, -36.0, -34.0, -32.0, -2...   27744  None
41 2013-11-01  [-112.0, -47.0, -23.0, -17.0, -14.0, -13.0, -1...   27744  None
42 2014-01-01  [-96.0, -40.0, -33.0, -26.0, -13.0, -11.0, -10...   27907  None
43 2014-03-01  [-50.0, -49.0, -43.0, -29.0, -27.0, -21.0, -19...   27907  None
44 2014-05-01  [-223.0, -170.0, -143.0, -89.0, -87.0, -71.0, ...   27907  None
45 2014-07-01  [-186.0, -32.0, -21.0, -15.0, -15.0, -14.0, -1...   27907  None
46 2014-09-01  [-32.0, -26.0, -22.0, -16.0, -16.0, -16.0, -15...   27907  None
47 2014-11-01  [-192.0, -146.0, -110.0, -47.0, -36.0, -29.0, ...   27907  None
48 2015-01-01  [-24.0, -23.0, -23.0, -19.0, -17.0, -14.0, -11...   28042  None
49 2015-03-01  [-173.0, -122.0, -74.0, -71.0, -51.0, -49.0, -...   28042  None
50 2015-05-01  [-1639.0, -814.0, -125.0, -124.0, -98.0, -78.0...   28042  None
51 2015-07-01  [-46.0, -46.0, -39.0, -26.0, -25.0, -19.0, -16...   28042  None
52 2015-09-01  [-170.0, -141.0, -38.0, -32.0, -19.0, -16.0, -...   28042  None
53 2015-11-01  [-53.0, -46.0, -36.0, -27.0, -21.0, -18.0, -17...   28042  None
54 2016-01-01  [-676.0, -17.0, -13.0, -13.0, -12.0, -9.0, -9....   26306  None
55 2016-03-01  [-75.0, -73.0, -42.0, -34.0, -27.0, -26.0, -20...   26306  None
56 2016-05-01  [-292.0, -222.0, -49.0, -47.0, -44.0, -32.0, -...   26306  None
57 2016-07-01  [-334.0, -32.0, -20.0, -19.0, -16.0, -13.0, -1...   26306  None
58 2016-09-01  [-82.0, -42.0, -17.0, -7.0, -6.0, -6.0, -5.0, ...   26306  None
59 2016-11-01  [-66.0, -33.0, -24.0, -21.0, -17.0, -15.0, -14...   26306  None

In [9]:
p.CullingData(4)

In [10]:
p.dataset.data_to_use

         Keys                                         ListOfData  length Curve
0  2007-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20616  None
1  2007-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20677  None
2  2007-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20606  None
3  2007-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21344  None
4  2007-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21817  None
5  2007-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21492  None
6  2008-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22470  None
7  2008-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22509  None
8  2008-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   21851  None
9  2008-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   22847  None
10 2008-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   23971  None
11 2008-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   23413  None
12 2009-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   24663  None
13 2009-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   24693  None
14 2009-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25179  None
15 2009-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   24265  None
16 2009-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26351  None
17 2009-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26803  None
18 2010-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26828  None
19 2010-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26649  None
20 2010-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25173  None
21 2010-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26531  None
22 2010-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25131  None
23 2010-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26876  None
24 2011-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   23657  None
25 2011-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26828  None
26 2011-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26711  None
27 2011-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26708  None
28 2011-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   23454  None
29 2011-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26847  None
30 2012-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   20986  None
31 2012-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26873  None
32 2012-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26948  None
33 2012-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26653  None
34 2012-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26697  None
35 2012-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27013  None
36 2013-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27088  None
37 2013-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26959  None
38 2013-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26988  None
39 2013-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26889  None
40 2013-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26926  None
41 2013-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27223  None
42 2014-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27264  None
43 2014-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27048  None
44 2014-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26983  None
45 2014-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   26903  None
46 2014-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27074  None
47 2014-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27268  None
48 2015-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27282  None
49 2015-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27123  None
50 2015-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27154  None
51 2015-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27096  None
52 2015-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27141  None
53 2015-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   27301  None
54 2016-01-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25839  None
55 2016-03-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25746  None
56 2016-05-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25874  None
57 2016-07-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25728  None
58 2016-09-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25681  None
59 2016-11-01  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...   25837  None

In [11]:
p.DataRestore()

In [12]:
p.dataset.data_to_use

         Keys                                         ListOfData  length Curve
0  2007-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
1  2007-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
2  2007-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
3  2007-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
4  2007-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
5  2007-11-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   22643  None
6  2008-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
7  2008-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
8  2008-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
9  2008-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
10 2008-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
11 2008-11-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   24908  None
12 2009-01-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
13 2009-03-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
14 2009-05-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
15 2009-07-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
16 2009-09-01  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...   27223  None
17 2009-11-01  [-64.0, -38.0, -21.0, -13.0, 0.0, 0.0, 0.0, 0....   27223  None
18 2010-01-01  [-55.0, -21.0, -15.0, -11.0, -10.0, -1.0, 0.0,...   27457  None
19 2010-03-01  [-134.0, -86.0, -82.0, -80.0, -74.0, -54.0, -5...   27457  None
20 2010-05-01  [-97.0, -72.0, -68.0, -57.0, -40.0, -40.0, -36...   27457  None
21 2010-07-01  [-341.0, -135.0, -130.0, -81.0, -75.0, -66.0, ...   27457  None
22 2010-09-01  [-720.0, -213.0, -63.0, -56.0, -49.0, -47.0, -...   27457  None
23 2010-11-01  [-92.0, -87.0, -79.0, -66.0, -49.0, -45.0, -42...   27457  None
24 2011-01-01  [-124.0, -116.0, -86.0, -83.0, -77.0, -75.0, -...   27538  None
25 2011-03-01  [-467.0, -338.0, -218.0, -168.0, -163.0, -161....   27538  None
26 2011-05-01  [-881.0, -134.0, -102.0, -69.0, -62.0, -54.0, ...   27538  None
27 2011-07-01  [-113.0, -50.0, -38.0, -33.0, -23.0, -23.0, -2...   27538  None
28 2011-09-01  [-2912.0, -304.0, -196.0, -188.0, -69.0, -65.0...   27538  None
29 2011-11-01  [-79.0, -50.0, -38.0, -21.0, -12.0, -10.0, -5....   27538  None
30 2012-01-01  [-119.0, -105.0, -100.0, -90.0, -87.0, -85.0, ...   27622  None
31 2012-03-01  [-93.0, -75.0, -70.0, -30.0, -11.0, -10.0, -9....   27622  None
32 2012-05-01  [-90.0, -42.0, -36.0, -27.0, -25.0, -17.0, -10...   27622  None
33 2012-07-01  [-115.0, -51.0, -46.0, -45.0, -28.0, -17.0, -1...   27622  None
34 2012-09-01  [-75.0, -75.0, -69.0, -29.0, -21.0, -20.0, -19...   27622  None
35 2012-11-01  [-546.0, -51.0, -43.0, -21.0, -14.0, -13.0, -1...   27622  None
36 2013-01-01  [-91.0, -72.0, -23.0, -21.0, -18.0, -15.0, -14...   27744  None
37 2013-03-01  [-91.0, -56.0, -49.0, -38.0, -34.0, -30.0, -25...   27744  None
38 2013-05-01  [-200.0, -113.0, -85.0, -59.0, -40.0, -40.0, -...   27744  None
39 2013-07-01  [-4363.0, -148.0, -124.0, -110.0, -71.0, -39.0...   27744  None
40 2013-09-01  [-241.0, -66.0, -39.0, -36.0, -34.0, -32.0, -2...   27744  None
41 2013-11-01  [-112.0, -47.0, -23.0, -17.0, -14.0, -13.0, -1...   27744  None
42 2014-01-01  [-96.0, -40.0, -33.0, -26.0, -13.0, -11.0, -10...   27907  None
43 2014-03-01  [-50.0, -49.0, -43.0, -29.0, -27.0, -21.0, -19...   27907  None
44 2014-05-01  [-223.0, -170.0, -143.0, -89.0, -87.0, -71.0, ...   27907  None
45 2014-07-01  [-186.0, -32.0, -21.0, -15.0, -15.0, -14.0, -1...   27907  None
46 2014-09-01  [-32.0, -26.0, -22.0, -16.0, -16.0, -16.0, -15...   27907  None
47 2014-11-01  [-192.0, -146.0, -110.0, -47.0, -36.0, -29.0, ...   27907  None
48 2015-01-01  [-24.0, -23.0, -23.0, -19.0, -17.0, -14.0, -11...   28042  None
49 2015-03-01  [-173.0, -122.0, -74.0, -71.0, -51.0, -49.0, -...   28042  None
50 2015-05-01  [-1639.0, -814.0, -125.0, -124.0, -98.0, -78.0...   28042  None
51 2015-07-01  [-46.0, -46.0, -39.0, -26.0, -25.0, -19.0, -16...   28042  None
52 2015-09-01  [-170.0, -141.0, -38.0, -32.0, -19.0, -16.0, -...   28042  None
53 2015-11-01  [-53.0, -46.0, -36.0, -27.0, -21.0, -18.0, -17...   28042  None
54 2016-01-01  [-676.0, -17.0, -13.0, -13.0, -12.0, -9.0, -9....   26306  None
55 2016-03-01  [-75.0, -73.0, -42.0, -34.0, -27.0, -26.0, -20...   26306  None
56 2016-05-01  [-292.0, -222.0, -49.0, -47.0, -44.0, -32.0, -...   26306  None
57 2016-07-01  [-334.0, -32.0, -20.0, -19.0, -16.0, -13.0, -1...   26306  None
58 2016-09-01  [-82.0, -42.0, -17.0, -7.0, -6.0, -6.0, -5.0, ...   26306  None
59 2016-11-01  [-66.0, -33.0, -24.0, -21.0, -17.0, -15.0, -14...   26306  None